{% extends "dashboard.html" %}
{% block content %}

<h3 class="mb-4">Список заказов</h3>

<table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Пользователь</th>
        <th scope="col">ID заказа</th>
        <th scope="col">Сумма</th>
        <th scope="col">Статус</th>
        <th scope="col">Детали</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ order.user.full_name }}</td>
        <td>{{ order.id }}</td>
        <td>${{ order.get_total_price }}</td>
        {% if order.status %}
            <td class="text-success">Успешен</td>
        {% else %}
            <td class="text-danger">Отменён</td>
        {% endif %}
        <td><a href="{% url 'dashboard:order_detail' order.id %}" class="text-primary text-decoration-none">Посмотреть</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}
