{% extends "dashboard.html" %}

{% block content %}
    {% if order.status %}
        <h4><b class="text-success">Успешно</b></h4>
    {% else %}
        <h3><b class="text-danger">Отменён</b></h3>
    {% endif %}

    {% for item in items %}
    <div class="bg-light rounded border-bottom p-3 mb-3">
        <p><strong>Товар:</strong> <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></p>
        <p><strong>Цена:</strong> Р{{ item.price }}</p>
        <p><strong>Количество:</strong> {{ item.quantity }}</p>
    </div>
    {% endfor %}

    <h4 class="border-top pt-3 text-muted">Итого: Р{{ order.get_total_price }}</h4>
{% endblock %}
